<div class="app-container">
  <header>
    <h1>MaGo Talk</h1>
    <p>Seu sistema RAG privado e seguro</p>
  </header>

  <main>
    <section>
      <h2>O que fazemos?</h2>
      <p>
        Aqui você pode fazer upload de seus documentos em formato PDF, e realizar perguntas relacionadas ao conteúdo desses documentos. A aplicação utiliza modelos de linguagem para gerar respostas baseadas nos documentos enviados.
      </p>
    </section>

    <section>
      <h2>Junte-se a nós</h2>
      <p>
        Faça o login para ter acesso ao chat ou registre-se caso não tenha um usuário.
      </p>
      <div style="display: block;">
        <p>
          <a routerLink="/login" class="login-link">Login</a>
        </p>
        <p>
          <a routerLink="/register" class="login-link">Registre-se</a>
        </p>
      </div>
    </section>
  </main>

  <footer>
    <p>MaGo Talk - Um produto MaGo AI Solutions. &copy; 2025 All rights reserved.</p>
  </footer>
</div>

<router-outlet></router-outlet>